.comment-box {
    padding: 2px;
    margin: 0 0 5px 0;
}

.comment-background {
    background: #f8f8f8;
}

.comment {
    font-size: small;
    background: white;
    height: 30px;
    line-height: 2;
}

.comment-action-glyph {
    position: absolute;
    top: 5px;
    cursor: pointer
}

.comment-action-glyph-1 {
    right: 15px;
}

.comment-action-glyph-2 {
    right: 40px;
}

.comment-action-glyph-3 {
    right: 65px;
}

.comment-user-image {
    max-width: 45px;
}

.comment-show-container {
    margin: 0;
    padding-bottom: 2px
}

.comment-split {
    margin: 0;
    padding: 0;
}